<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>GRUPO 2</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!--
Ramayana CSS Template
https://templatemo.com/tm-529-ramayana
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../../../assets/css/fontawesome.css">
    <link rel="stylesheet" href="../../../assets/css/templatemo-style.css">
    <link rel="stylesheet" href="../../../assets/css/owl.css">

  </head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
        <div id="main">
          <div class="inner">

            <!-- Header -->
            <header id="header">
              <div class="logo">
                <a href="index.html">Consultas Grupo 2</a>
              </div>
            </header>

            <!-- Page Heading -->
            <div class="page-heading">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <h1>Grupo 2</h1>
                    <p><strong>Integrantes: </strong>Santiago Valencia, Ivan Endara, Diego Sotomayor.</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Simple Post -->
            <section class="simple-post">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="service-item first-item">
         		
			   <h1>Thymeleaf</h>
			    <h2>¿Qué es THYMELEAF?</h2>
			    <p>
				Thymeleaf es una biblioteca Java que implementa un motor de plantillas de XML/XHTML/HTML5, que puede ser utilizado tanto en modo web 
				como en otros entornos no web.
				Se acopla muy bien para trabajar en la capa vista del modelo vista controlador (MVC) de aplicaciones web
				Proporciona un módulo opcional para la integración con Spring MVC, por lo que se puede utilizar para reemplazar completamente 
				a los archivos JSP en tus aplicaciones construidas con esta tecnología.

			    </p>
				<br><br>
			    <h2>Características de THYMELEAF</h2>
			    <p>
				•	Permite la creación de plantillas de una manera elegante y un código bien formateado.
				•	Motor de plantillas Java para XML, XHTML y HTML5. Extensible para otros formatos.
				•	Trabaja en entornos web y no web (desconectados).
				•	Configurable, alto rendimiento del caché del analizador de plantillas que reduce al mínimo las entradas/salidas.
				•	Traducción automática DOCTYPE 


			    </p>
				<br><br>
			    <h2>Tipos de expresiones en THYMELEAF</h2>
			    <p><li>	Expresiones variables</a></li>
					${sesión.usuario.nombre} 
				    	Podemos usar la notación de puntos para acceder a las propiedades de un objeto.</li>
				    <li><a>	Expresiones de selección</a></li>
					Son expresiones que nos permiten reducir la longitud de la expresión si prefijamos un objeto mediante una expresión variable
					<div th:object=${book}”> 
					… 
					<span th:text=”*{title}”>…</span>
					 … 
					</div></li>
				<li><a>	Expresiones de mensaje</a></li>
					Que nos permiten, a partir de ficheros properties o ficheros de texto, cargar los mensajes e incluso realizar la internalización de nuestras aplicaciones
					Escribir mensaje en messages.properties
						welcome.message=Hello, {0}!
					Reemplace {0} con el nombre de usuario dentro de la etiqueta thymeleaf
						<h3 th:text="#{welcome.message(${some.variable})}">Hello, Placeholder</h3></li>

				<li><a>	Expresiones de enlace</a></li>
					Nos permiten crear URL que pueden tener parámetros o variables
					<a th:href=”@{/order/list}”>…</a>
					 <a href=”{/myapp/order/list}”>…</a></li>
				<li><a>	Expresiones de fragmentos</a></li>
					Nos van a permitir dividir nuestras plantillas en plantillas más pequeñas e ir cargándolas según las vayamos necesitando
					<footer th:fragment="pie" class="bg-dark"> <span class="info-copyrigth"><a href="https://programadoointentandolo.com">programadoointentandolo.com</a> © 2018</span> </footer></li>

			    </p>

			    <h2>BIBLIOGRAFIA</h2>
			    <p>
				<ul>
					<li><p><a rel="nofollow" href="https://www.thymeleaf.org//">https://www.thymeleaf.org/</a></li>
				</ul>
			    </p>			   
        	    </div>                 
                  </div>
                </div>                
              </div>
           </section>
              


          </div>
        </div>

      <!-- Sidebar -->
        <div id="sidebar">

          <div class="inner">
             
           <!-- Menu -->
            <nav id="menu">
              <ul>
                <li><a href="../../../index.html"> PAGINA PRINCIPAL</a></li>
		
		 <li>
                  <span class="opener">PARCIAL 1</span>
                  <ul>
                    <li><a href="../../../Par1Grup1.html">TEMA #1</a></li>
                    <li><a href="../../../Par1Grup2.html">TEMA #2 FORKJOIN</a></li>
                    <li><a href="../../../Par1Grup3.html">TEMA #3</a></li>
                    <li><a href="../../../Par1Grup4.html">TEMA #4</a></li>
                  </ul>
                </li>
		      
		       <li>
                  <span class="opener">PARCIAL 2</span>
                  <ul>
                    <li><a href="#">TEMA #1</a></li>
                    <li><a href="#">TEMA #2</a></li>
                    <li><a href="#">TEMA #3</a></li>
                    <li><a href="#">TEMA #4</a></li>
                  </ul>
                </li>
		      
		       <li>
                  <span class="opener">PARCIAL 3</span>
                  <ul>
                    <li><a href="#">TEMA #1</a></li>
                    <li><a href="#">TEMA #2</a></li>
                    <li><a href="#">TEMA #3</a></li>
                    <li><a href="#">TEMA #4</a></li>
                  </ul>
                </li>
		
                			
                <li>
                  <span class="opener">CONSULTAS</span>
                  <ul>
                    <li><a href="../../../ConsultGrupo1.html">GRUPO #1</a></li>
                    <li><a href="../../../ConsultGrupo2.html">GRUPO #2</a></li>
                    <li><a href="../../../ConsultGrupo3.html">GRUPO #3</a></li>
                    <li><a href="../../../ConsultGrupo4.html">GRUPO #4</a></li>
                  </ul>
                </li>
	
              </ul>
            </nav>



            <!-- Featured Posts -->
            <div class="featured-posts">
              <div class="heading">
                <h2>Featured Posts</h2>
              </div>
              <div class="owl-carousel owl-theme">
                <a href="#">
                  <div class="featured-item">
                    <img src="../../../assets/images/featured_post_01.jpg" alt="featured one">
                    <p>Aliquam egestas convallis eros sed gravida. Curabitur consequat sit.</p>
                  </div>
                </a>
                <a href="#">
                  <div class="featured-item">
                    <img src="../../../assets/images/featured_post_01.jpg" alt="featured two">
                    <p>Donec a scelerisque massa. Aliquam non iaculis quam. Duis arcu turpis.</p>
                  </div>
                </a>
                <a href="#">
                  <div class="featured-item">
                    <img src="../../../assets/images/featured_post_01.jpg" alt="featured three">
                    <p>Suspendisse ac convallis urna, vitae luctus ante. Donec sit amet.</p>
                  </div>
                </a>
              </div>
            </div>

            <!-- Footer -->
            <footer id="footer">
              <p class="copyright">Copyright &copy; 2020 Company Name
              <br>Designed by <a rel="nofollow" href="https://www.facebook.com/templatemo">Template Mo</a></p>
            </footer>
            
          </div>
        </div>

    </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="../../../vendor/jquery/jquery.min.js"></script>
    <script src="../../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="../../../assets/js/browser.min.js"></script>
    <script src="../../../assets/js/breakpoints.min.js"></script>
    <script src="../../../assets/js/transition.js"></script>
    <script src="../../../assets/js/owl-carousel.js"></script>
    <script src="../../../assets/js/custom.js"></script>
</body>


  </body>

</html>
